*{
	padding:0;
	margin:0;
}
body{
	background-color:rgb(250,250,250);
}
.contain{
	width:1500px;

	background-color:rgb(250,250,250);
	margin:0 auto;
}
.nav{
	width:100%;
	height:70px;
	background-color:rgb(33,33,33);
	border-radius:10px;
	line-height:70px;
	font-size:30px;
	font-weight:700;
	color:rgb(238,238,238);
}
.first{
	cursor:pointer;
	margin-left:30%;
	color:rgb(8,0,238);
	display:inline-block;
}
.secend{
	cursor:pointer;
	margin-left:10%;
	color:rgb(8,0,238);
	display:inline-block;
}


.left{
	width:340px;


	float:left;
	margin-top:30px;
}
.right{
	width:1150px;
    border:1px solid rgb(200,200,200);
	
	float:right;
	margin-top:30px;
	border-radius:5px;
    font-size:40px;
    position:relative;
}
.left ul{
	list-style-type:none;

}
.left li{
	line-height:40px;
	width:80%;
	height:40px;
	margin-left:10px;
    border-bottom:1px solid rgb(66,140,199);
    border-left:1px solid rgb(66,140,199);
    border-right:1px solid rgb(66,140,199);
	overflow:hidden;
	padding-left:10px;
}
.left li:first-child{
	font-size:25px;
	background-color:rgb(66,140,199);
	border-radius:5px 5px 0 0;
	color:white;
}
.left li:nth-child(2){
	font-size:25px;
}
.left li:last-child{
    border-radius:0 0 5px 5px;
}

.right .top{
	height:60px;
	width:100%;
	border-bottom:1px solid rgb(200,200,200);
	background-color:rgb(250,247,225);
	font-size:30px;
	line-height:60px;
	border-radius:5px 5px 0 0;
}
.right table{
    table-layout:fixed;
	margin:0 auto;
	margin-top:40px;
	width:95%;
	border-collapse:collapse;
}

table th,td{
	line-height:30px;
    overflow:hidden;
	text-align:center;
	font-size:20px;
	border:1px solid rgb(200,200,200);
}
table td{
	line-height:40px;
}

.bottom{
	width:100%;
	height:115px;
	background-color:rgb(150,150,150);
	margin-top:40px;
	border-radius:0 0 5px 5px;
}
.bottom span{
	background-color:white;
	padding:10px;
	border-radius:10px;
	font-size:25px;
	line-height:115px;
}


.souye{
	cursor:pointer;
	margin-left:5%;

}
.shangye{
	cursor:pointer;
	margin-left:28%;


}
.xiaye{
	cursor:pointer;
	margin-left:0%;


}
.moye{
	cursor:pointer;
	margin-left:30%;
}

.change{
	cursor:pointer;
	color:rgb(66,140,200);
}
.delate{
	cursor:pointer;
	color:rgb(66,140,200);
}
.jjmanage{
	cursor:pointer;
}
